<!DOCTYPE html>
<html lang="en" dir="ltr" itemscope itemtype="http://schema.org/Article">
<head>

	<link rel="stylesheet" href="style.css">

</head>

<body class="single">
  <a id="notification" href="">
    <p>Welcome to The Grapevine, this is a project by students from Computer Science & I.T in NUIG.</p>
  </a>

  <!--http://astheria.com/about-->

	<div id="wrapper">
		<div id="masthead">
			<br>
			<span id="logo"><a title="Back to the home page" href="">The Grapevine</a></span>
			
			<ol id="nav">
	    		<li><a href="/about/">About</a></li>
	    		<li class="last"><a href="">Contact</a></li>
	    	</ol>
	    	
	    </div>
		
		<div id="main">
				<div id="add-post">
				
					  <form class="post " action="" method="post">
						<textarea id="post_content" rows="5" cols="30" name="post_content" class="empty">What's happening?</textarea>
						<button class="submit" type="submit"><span>Post</span></button>
					  </form>
				
				</div>
				
				
				<div id="content">
				
					<div class="post">
						
						<a href=""><img class="avatar js-action-profile-avatar" src="https://twimg0-a.akamaihd.net/profile_images/2937567784/7d1eb545d6608cccfdda23057d393608_normal.jpeg" alt="Courtney"></a>
						
						<p class="text">This is a sample post, nothing special. It's being used for the design and is nearly the length of a tweet. Seems long enough if you ask me!</p>
					
					</div>
					<div class="post">
						
						<a href=""><img class="avatar js-action-profile-avatar" src="https://twimg0-a.akamaihd.net/profile_images/2937567784/7d1eb545d6608cccfdda23057d393608_normal.jpeg" alt="Courtney"></a>
						
						<p class="text">This is a sample post, nothing special. It's being used for the design and is nearly the length of a tweet. Seems long enough if you ask me!</p>
					
					</div>
					<div class="post">
						
						<a href=""><img class="avatar js-action-profile-avatar" src="https://twimg0-a.akamaihd.net/profile_images/2937567784/7d1eb545d6608cccfdda23057d393608_normal.jpeg" alt="Courtney"></a>
						
						<p class="text">This is a sample post, nothing special. It's being used for the design and is nearly the length of a tweet. Seems long enough if you ask me!</p>
					
					</div>

    

				
				</div>
		
		
		</div>
		
	<div id="footer" style="display: block;">
  <div class="inner">
    
    <div id="footer_feedback">

      <form class="feedback " action="" method="post">
        <textarea id="site_feedback" rows="5" cols="30" name="site_feedback" class="empty">Please enter some feedback...</textarea>
        <button class="submit" type="submit"><span>Send</span></button>
      </form>

      <div class="feedback_text">
        <h2>We would love some feedback</h2>
        <p>We've been working hard on this project, we want to make it better!</p>
      </div>

    </div>

    <div id="footer_content">

        <h5>Grapevine</h5>
        <p>
         The Grapevine is a microblogging site built using node.js
        </p>

    </div>

  </div>
</div>	
		
		
	

	</div>

</body>

</html>