body {
	/*background: url("http://tapmates.com/assets/css/../img/ptrn-page-bg.png") repeat; */
	background:none repeat scroll 0% 0% rgb(239, 234, 232);
	margin:0px;
	padding:0px;
	font-size:16px;
	font-size:100%;
	font-family: "Benton Sans",Arial,sans-serif;
}

.column {
	margin:0 auto;
	width:600px;
	padding:20px;
	background:#fff;
}

#main {	
	padding:10px 40px 10px 40px;
	display:block;
}

#logo a {
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	color:#61CDF5;
	margin:0 10px 0 0;
}

#nav {
	background:#61CDF5;
	height:60px;
	width:600px;
	margin: 0 auto;
	padding:0 20px 0 20px;
}

#nav li {
	list-style:none;
	display:inline;
}

#nav a {
	text-decoration:none;
	color:#fff;
	font-weight:bold;
}

#nav a:hover {
	text-decoration:underline;
}

.date {
	text-align: center;
}

#add-post {
	width:600px;
	margin:0 auto;
	padding:10px 20px 10px 20px;
	display:block;
	background:none repeat scroll 0% 0% rgb(233, 242, 247);
}	

.post {
	border-top:1px dotted rgb(221, 221, 221);
}

.user {
	float:left;
}

.text {
	float:left;
}

/** Footer **/

#footer {
	clear:both;
	background: #61CDF5;
	display:block;
	min-height:250px;
	width:600px;
	margin: 0 auto;
	padding:20px 20px 0 20px;
}